@import models._
@import testOnly.models._
@import uk.gov.hmrc.play.views.html.helpers.form
@import common.Constants
@import utils.CountriesHelper
@import views.html.helpers.{externalLink,formHint, formInputRadioGroup, backButtonWithProgress, input, inputWithCurrencySymbol, formInlineDateInput, hiddenField, errorSummary, formHiddenYesNoRadioNoError, textArea, dropdown}

@(fullTimeEmployeeCountForm: Form[FullTimeEmployeeCountModel],
  hadPreviousRFIForm: Form[HadPreviousRFIModel],
  testPreviousSchemesForm: Form[TestPreviousSchemesModel],
  previousSchemesSize: Int,
  hadOtherInvestmentsForm: Form[HadOtherInvestmentsModel],
  shareDescriptionForm: Form[ShareDescriptionModel],
  numberOfSharesForm: Form[NumberOfSharesModel],
  totalAmountRaisedForm: Form[TotalAmountRaisedModel],
  usedInvestmentReasonBeforeForm: Form[UsedInvestmentReasonBeforeModel],
  previousBeforeDOFCSForm: Form[PreviousBeforeDOFCSModel],
  newGeographicalMarketForm: Form[NewGeographicalMarketModel],
  newProductForm: Form[NewProductModel],
  testTurnoverCostsForm: Form[AnnualTurnoverCostsModel],
  thirtyDayRuleForm: Form[ThirtyDayRuleModel],
  marketDescriptionForm: Form[MarketDescriptionModel],
  investmentGrowForm: Form[InvestmentGrowModel],
  testInvestorModeOptionsForm:Form[TestInvestorModeOptionsModel])(implicit request: Request[_], messages: Messages)
@main_template(Messages("page.test.page-two.title")) {
<div class="grid-row">

    @form(action = testOnly.controllers.eis.routes.TestEndpointEISController.submitPageTwo()) {
    <h2>Full Time Employee Count</h2>
    <div class="form-group">
        @input(
        fullTimeEmployeeCountForm("employeeCount"),
        '_divClass -> "form-label",
        '_labelId -> "label-fullTimeEmployeeCount",
        '_label -> Messages("page.companyDetails.fullTimeEmployeeCount.heading"),
        '_labelTextClass -> "visuallyhidden",
        '_maxlength -> "9",
        '_inputClass -> "input--normal"
        )
    </div>
    <h2>Used Investment Scheme Before</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = hadPreviousRFIForm("hadPreviousRFI"),
        Seq(
        Constants.StandardRadioButtonYesValue -> Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue -> Messages("common.radioNoLabel")),
        '_legend -> Messages("page.previousInvestment.hadPreviousRFI.heading"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legendID -> "hadPreviousRFI",
        '_groupClass -> "inline"
        )
    </div>

    <h2>Had other previous investments Before</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = hadOtherInvestmentsForm("hadOtherInvestments"),
        Seq(
        Constants.StandardRadioButtonYesValue -> Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue -> Messages("common.radioNoLabel")),
        '_legend -> Messages("page.previousInvestment.hadOtherInvestments.heading"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legendID -> "hadOtherInvestments",
        '_groupClass -> "inline"
        )
    </div>

    <h2>Add Previous Scheme</h2>

    @for(previousScheme <- 0 to previousSchemesSize - 1) {
    <div class="form-group">
        <h3>Scheme @(previousScheme + 1)</h3>
        <div class="form-group">
            @formInputRadioGroup(
            field = testPreviousSchemesForm(s"testPreviousSchemes[$previousScheme].schemeTypeDesc"),
            Seq(
            Constants.schemeTypeEis->Messages("page.previousInvestment.schemeType.eis"),
            Constants.schemeTypeSeis->Messages("page.previousInvestment.schemeType.seis"),
            Constants.schemeTypeSitr->Messages("page.previousInvestment.schemeType.sitr"),
            Constants.schemeTypeVct->Messages("page.previousInvestment.schemeType.vct"),
            Constants.schemeTypeOther->Messages("page.previousInvestment.schemeType.other")),
            '_legend -> Messages("page.investment.PreviousScheme.schemeType"),
            '_legendClass -> "heading-small",
            '_legendID -> "scheme-type",
            '_labelAfter -> true,
            '_labelClass -> "block-label"
            )
        </div>

        <div class="panel-indent form-group"  id="other-scheme">
            @input(
            testPreviousSchemesForm(s"testPreviousSchemes[$previousScheme].previousSchemeOtherSchemeName"),
            '_divClass -> "form-label",
            '_labelId -> "label-other-scheme",
            '_hintId -> "label-other-scheme-hint",
            '_label -> Messages("page.investment.PreviousScheme.otherSchemeName.label"),
            '_labelTextClass -> "heading-small block",
            '_inputHint -> "",
            '_inputClass -> "",
            '_type -> "text",
            '_maxlength -> "50",
            'id -> "previousSchemeOtherSchemeName"
            )

        </div>
        <div class="form-group"></div>

        <div class="form-group divider--top--thick">
            @inputWithCurrencySymbol(
            testPreviousSchemesForm(s"testPreviousSchemes[$previousScheme].previousSchemeInvestmentAmount"),
            '_divClass -> "form-label",
            '_labelId -> "label-amount",
            '_hintId -> "label-amount-hint",
            '_label -> Messages("page.investment.PreviousScheme.investmentAmount"),
            '_labelTextClass -> "heading-small block",
            '_inputHint -> "",
            '_inputClass -> "input--normal input--no-spinner input--left-padding",
            '_type -> "text",
            '_maxlength -> "9",
            'id -> "previousSchemeInvestmentAmount"
            )
        </div>

        <div class="panel-indent" id="investment-spent">
            @inputWithCurrencySymbol(
            testPreviousSchemesForm(s"testPreviousSchemes[$previousScheme].previousSchemeInvestmentSpent"),
            '_divClass -> "form-label",
            '_labelId -> "label-amount-spent",
            '_hintId -> "label-amount-spent-hint",
            '_label -> Messages("page.previousInvestment.amountSpent.label"),
            '_labelTextClass -> "heading-small block",
            '_inputHint -> "",
            '_inputClass -> "input--normal input--no-spinner input--left-padding",
            '_type -> "text",
            '_maxlength -> "9",
            'id -> "previousSchemeInvestmentSpent"
            )
        </div>
        <div class="form-group"></div>

        <div class="form-group divider--top--thick"></div>

        @formInlineDateInput(testPreviousSchemesForm,s"testPreviousSchemes[$previousScheme].previousSchemeInvestment",
        Some(Messages("page.previousInvestment.reviewPreviousSchemes.dateOfShareIssue")),
        false, Some(Messages("common.date.hint.example")), Some("heading-small"))

        <div>
            <input type="hidden" name="testPreviousSchemes[@previousScheme].previousSchemeProcessingId" id="testPreviousSchemes[@previousScheme].previousSchemeProcessingId" value="@{previousScheme + 1}" />
        </div>
    </div>
    }


    <h2>Share Description/Market Description/Investment Grow</h2>
    <div class="form-group">
        <span class = "form-hint" id="desc-one">@Messages("page.shares.shareDescription.question.hint")</span>
        @textArea(
        shareDescriptionForm("descriptionTextArea"),
        '_cols -> "45",
        '_rows -> "3",
        '_maxLength-> Constants.shortTextLimit,
        '_label-> Messages("page.shares.shareDescription.heading"),
        '_labelTextClass-> "visuallyhidden"
        )
    </div>

    <h2>Number of shares</h2>
    <div class="form-group">
        @input(
        numberOfSharesForm("numberOfShares"),
        '_divClass -> "form-label",
        '_labelId -> "label-numberOfShares",
        '_label -> Messages("page.shareDetails.numberOfShares.heading"),
        '_labelTextClass -> "visuallyhidden",
        '_maxlength -> "25",
        '_inputClass -> "input--fullwidth"
        )
    </div>


    <h2>Total Amount Raised</h2>
    <div class="form-group">
        @inputWithCurrencySymbol(
        totalAmountRaisedForm("amount"),
        '_divClass -> "form-label",
        '_labelId -> "label-amount",
        '_label -> Messages("page.shareDetails.totalAmountRaised.heading"),
        '_labelTextClass -> "visuallyhidden",
        '_inputClass -> "input--no-spinner input--left-padding",
        '_type -> "text",
        '_maxlength -> "9",
        'id -> "amount"
        )

    </div>


    <h2>Same reason as before</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = usedInvestmentReasonBeforeForm("usedInvestmentReasonBefore"),
        Seq(
        Constants.StandardRadioButtonYesValue -> Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue -> Messages("common.radioNoLabel")),
        '_legend -> Messages("page.investment.UsedInvestmentReasonBefore.heading"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_groupClass -> "inline"
        )
    </div>

    <h2>Previous before DoFCS</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = previousBeforeDOFCSForm("previousBeforeDOFCS"),
        Seq(
        Constants.StandardRadioButtonYesValue -> Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue ->Messages("common.radioNoLabel")),
        '_legend -> Messages("page.previousInvestment.previousBeforeDOFCS.heading","date1", "date2"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legendID -> "previousBeforeDOFCS",
        '_groupClass -> "inline",
        '_helpText -> Messages("page.previousInvestment.previousBeforeDOFCS.description","X")
        )
    </div>

    <h2>New Geographical Market</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = newGeographicalMarketForm("isNewGeographicalMarket"),
        Seq(
        Constants.StandardRadioButtonYesValue -> Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue -> Messages("common.radioNoLabel")),
        '_legend -> Messages("page.investment.NewGeographicalMarket.heading"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_groupClass -> "inline"
        )
    </div>

    <h2>New Product</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = newProductForm("isNewProduct"),
        Seq(
        Constants.StandardRadioButtonYesValue-> Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue -> Messages("common.radioNoLabel")),
        '_legend -> Messages("page.investment.NewProduct.heading"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_groupClass -> "inline"
        )
    </div>

    <h2>Average Annual Turnover</h2>
    <div class="form-group">
        <table id="table">
            <thead>
            <tr>
                <th class="visuallyhidden" id="col-heading-one" scope="col">@Messages("page.companyDetails.TurnoverCosts.col.heading.one")</th>
                <th id="col-heading-two" scope="col">@Messages("page.companyDetails.TurnoverCosts.col.heading.two")</th>
                <th id="col-heading-three" scope="col">@Messages("page.companyDetails.TurnoverCosts.col.heading.three")</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="heading-small" id="aat-row-heading-one">@Messages("page.companyDetails.TurnoverCosts.row.heading.one")</td>
                <td>
                    @input(
                    testTurnoverCostsForm("turnoverFirstYear"),
                    '_divClass -> "form-label",
                    '_labelId -> "label-firstYear",
                    '_label -> Messages("page.companyDetails.TurnoverCosts.row.one.label.year"),
                    '_labelTextClass -> "visuallyhidden",
                    '_inputClass -> "input--fullwidth",
                    '_maxlength-> 4,
                    'id -> "firstYear"
                    )
                </td>
                <td>

                    @inputWithCurrencySymbol(
                    testTurnoverCostsForm("turnoverAmount1"),
                    '_divClass -> "form-label",
                    '_labelId -> "label-amount-one",
                    '_label -> Messages("page.companyDetails.TurnoverCosts.row.one.label.turnover"),
                    '_labelTextClass -> "visuallyhidden",
                    '_inputClass -> "input--fullwidth input--no-spinner input--left-padding",
                    '_type -> "text",
                    '_maxlength -> "9",
                    'id -> "amount1"
                    )
                </td>
            </tr>

            <tr>
                <td class="heading-small" id="aat-row-heading-two">@Messages("page.companyDetails.TurnoverCosts.row.heading.two")</td>
                <td>
                    @input(
                    testTurnoverCostsForm("turnoverSecondYear"),
                    '_divClass -> "form-label",
                    '_labelId -> "label-secondYear",
                    '_label -> Messages("page.companyDetails.TurnoverCosts.row.two.label.year"),
                    '_labelTextClass -> "visuallyhidden",
                    '_inputClass -> "input--fullwidth",
                    '_maxlength-> 4,
                    'id -> "secondYear"
                    )
                </td>
                <td>
                    @inputWithCurrencySymbol(
                    testTurnoverCostsForm("turnoverAmount2"),
                    '_divClass -> "form-label",
                    '_labelId -> "label-amount-two",
                    '_label -> Messages("page.companyDetails.TurnoverCosts.row.two.label.turnover"),
                    '_labelTextClass -> "visuallyhidden",
                    '_inputClass -> "input--fullwidth input--no-spinner input--left-padding",
                    '_type -> "text",
                    '_maxlength -> "9",
                    'id -> "amount2"
                    )
                </td>
            </tr>
            <tr>
                <td class="heading-small" id="aat-row-heading-three">@Messages("page.companyDetails.TurnoverCosts.row.heading.three")</td>
                <td>
                    @input(
                    testTurnoverCostsForm("turnoverThirdYear"),
                    '_divClass -> "form-label",
                    '_labelId -> "label-thirdYear",
                    '_label -> Messages("page.companyDetails.TurnoverCosts.row.three.label.year"),
                    '_labelTextClass -> "visuallyhidden",
                    '_inputClass -> "input--fullwidth",
                    '_maxlength-> 4,
                    'id -> "thirdYear"
                    )
                </td>
                <td>

                    @inputWithCurrencySymbol(
                    testTurnoverCostsForm("turnoverAmount3"),
                    '_divClass -> "form-label",
                    '_labelId -> "label-amount-three",
                    '_label -> Messages("page.companyDetails.TurnoverCosts.row.three.label.turnover"),
                    '_labelTextClass -> "visuallyhidden",
                    '_inputClass -> "input--fullwidth input--no-spinner input--left-padding",
                    '_type -> "text",
                    '_maxlength -> "9",
                    'id -> "amount3"
                    )
                </td>
            </tr>
            <tr>
                <td class="heading-small" id="aat-row-heading-four">@Messages("page.companyDetails.TurnoverCosts.row.heading.four")</td>
                <td>
                    @input(
                    testTurnoverCostsForm("turnoverFourthYear"),
                    '_divClass -> "form-label",
                    '_labelId -> "label-fourthYear",
                    '_label -> Messages("page.companyDetails.TurnoverCosts.row.four.label.year"),
                    '_labelTextClass -> "visuallyhidden",
                    '_inputClass -> "input--fullwidth",
                    '_maxlength-> 4,
                    'id -> "fourthYear"
                    )
                </td>
                <td>
                    @inputWithCurrencySymbol(
                    testTurnoverCostsForm("turnoverAmount4"),
                    '_divClass -> "form-label",
                    '_labelId -> "label-amount-rAndDCosts2ndYear",
                    '_label -> Messages("page.companyDetails.TurnoverCosts.row.four.label.turnover"),
                    '_labelTextClass -> "visuallyhidden",
                    '_inputClass -> "input--fullwidth input--no-spinner input--left-padding",
                    '_type -> "text",
                    '_maxlength -> "9",
                    'id -> "amount4"
                    )

                </td>
            </tr>
            <tr>
                <td class="heading-small" id="aat-row-heading-five">@Messages("page.companyDetails.TurnoverCosts.row.heading.five")</td>
                <td>
                    @input(
                    testTurnoverCostsForm("turnoverFifthYear"),
                    '_divClass -> "form-label",
                    '_labelId -> "label-fifthYear",
                    '_label -> Messages("page.companyDetails.TurnoverCosts.row.five.label.year"),
                    '_labelTextClass -> "visuallyhidden",
                    '_inputClass -> "input--fullwidth",
                    '_maxlength-> 4,
                    'id -> "fifthYear"
                    )
                </td>
                <td>

                    @inputWithCurrencySymbol(
                    testTurnoverCostsForm("turnoverAmount5"),
                    '_divClass -> "form-label",
                    '_labelId -> "label-amount-operatingCosts3rdYear",
                    '_label -> Messages("page.companyDetails.TurnoverCosts.row.five.label.turnover"),
                    '_labelTextClass -> "visuallyhidden",
                    '_inputClass -> "input--fullwidth input--no-spinner input--left-padding",
                    '_type -> "text",
                    '_maxlength -> "9",
                    'id -> "amount5"
                    )

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2>30 Day Rule</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = thirtyDayRuleForm("thirtyDayRule"),
        Seq(
        Constants.StandardRadioButtonYesValue -> Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue -> Messages("common.radioNoLabel")),
        '_legend -> Messages("page.ThirtyDayRule.legend"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legendID -> "thirtyDayRule",
        '_groupClass -> "inline"
        )
    </div>

    <h2>Investors</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = testInvestorModeOptionsForm("testInvestorModeOptions"),
        Seq(
        "1" -> "Single Investor without holdings",
        "2" -> "Single Investor with 5 holdings",
        "3" -> "5 Investors with 4 holdings each",
        "4" -> "5 Investors with 4 holdings each. Last Holding incomplete",
        "5" -> "5 Investors with 4 holdings each. Last Investor incomplete (0 holdings)",
        "6" -> "20 complete Investors with 5 holdings each",
        "7" -> "20 complete Investors with 0 holdings each"),
        '_legend -> "Select the investor population option desired",
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legendID -> "investorPopulationOptions",
        '_groupClass -> "block"
        )
    </div>

    <div class="form-group">
        <button class="btn button" type="submit" id="next">
            @Messages("page.test.submit-form.button")
        </button>

        <a class="btn button" id="clear-cache" href="@testOnly.controllers.routes.ClearCacheController.clearCache()">
            @Messages("page.test.clear-cache.button")
        </a>

        <a class="btn button" id="page-three" href="@testOnly.controllers.eis.routes.TestEndpointEISController.showPageThree()">
            @Messages("page.test.page-three.button")
        </a>

    </div>

    }
</div>
}