@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.backButton
@import views.html.helpers.summary._
@import common.Constants
@import utils.Transformers
@import utils.CountriesHelper
@import models.submission.SchemeTypesModel
@import models.repayments.SharesRepaymentDetailsModel

@(checkAnswersModel: CheckAnswersModel)(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.checkAndSubmit.checkAnswers.heading"), articleLayout=false) {

@backButton(controllers.eis.routes.SupportingDocumentsController.show().toString)

<h1 class="form-title heading-xlarge" id="main-heading">@Messages("page.checkAndSubmit.checkAnswers.heading")</h1>
<div class="form-group">
    <p id="description-one">@Messages("page.checkAndSubmit.checkAnswers.description.one") @Messages("page.checkAndSubmit.checkAnswers.scheme.eis")</p>
    <p id="description-two">@Messages("page.checkAndSubmit.checkAnswers.description.two")</p>
</div>

    <div id="yourAnswers" class="full-width">

        <table id="company-details-table">
            <!-- Header -->
            @tableHeaderHelper("companyDetailsSection",Messages("summaryQuestion.companyDetailsSection"))
            <!-- Data Rows-->
            <tbody>
            <!-- Nature Of Business -->
            @if(checkAnswersModel.natureOfBusinessModel.isDefined){
            @textRowHelperBasic("natureOfBusiness", Messages("summaryQuestion.natureOfBusiness"),checkAnswersModel.natureOfBusinessModel.get.natureofbusiness, Some(controllers.eis.routes.NatureOfBusinessController.show().url))
            }
            <!-- Date of Incorporation -->
            @if(checkAnswersModel.dateOfIncorporationModel.isDefined){
            @defining(checkAnswersModel.dateOfIncorporationModel.get) { dateOfIncorporationModel =>
            @textRowHelperBasic("dateOfIncorporation", Messages("summaryQuestion.dateOfIncorporation"), DateOfIncorporationModel.toDateString(dateOfIncorporationModel.day.get, dateOfIncorporationModel.month.get, dateOfIncorporationModel.year.get),Some(controllers.eis.routes.DateOfIncorporationController.show().url))
            }
            }

            <!-- Qualify business activity -->
            @if(checkAnswersModel.qualifyBusinessActivity.isDefined && checkAnswersModel.qualifyBusinessActivity.get.isQualifyBusinessActivity == Constants.qualifyPrepareToTrade){
            @textRowHelperBasic("qualifyBusinessActivity", Messages("summaryQuestion.bussinessPurpose"), Messages("page.companyDetails.qualifyBusinessActivity.bullet.one"), Some(controllers.eis.routes.QualifyBusinessActivityController.show().url))
            }else{
            @textRowHelperBasic("qualifyBusinessActivity", Messages("summaryQuestion.bussinessPurpose"), Messages("page.companyDetails.qualifyBusinessActivity.bullet.two"), Some(controllers.eis.routes.QualifyBusinessActivityController.show().url))
            }
            <!-- Is Business activity started -->
            @if(checkAnswersModel.qualifyBusinessActivity.isDefined && checkAnswersModel.qualifyBusinessActivity.get.isQualifyBusinessActivity == Constants.qualifyPrepareToTrade){
            @if(checkAnswersModel.hasInvestmentTradeStarted.isDefined){
            @if(checkAnswersModel.hasInvestmentTradeStarted.get.hasDate){
            @textRowHelperMultiLineQuestion("hasInvestmentTradeStarted", Array(Messages("summaryQuestion.bussinessStatus"), "", Messages("summaryQuestion.bussinessActivityStarted")), Array(checkAnswersModel.hasInvestmentTradeStarted.get.hasInvestmentTradeStarted, "", HasInvestmentTradeStartedModel.toDateString(checkAnswersModel.hasInvestmentTradeStarted.get.hasInvestmentTradeStartedDay.get, checkAnswersModel.hasInvestmentTradeStarted.get.hasInvestmentTradeStartedMonth.get, checkAnswersModel.hasInvestmentTradeStarted.get.hasInvestmentTradeStartedYear.get)), Some(controllers.eis.routes.HasInvestmentTradeStartedController.show().url))
            }else{
            @textRowHelperBasic("hasInvestmentTradeStarted", Messages("summaryQuestion.bussinessStatus"), checkAnswersModel.hasInvestmentTradeStarted.get.hasInvestmentTradeStarted, Some(controllers.eis.routes.HasInvestmentTradeStartedController.show().url))
            }
            }
            }else{
            @if(checkAnswersModel.researchStartDateModel.isDefined){
            @if(checkAnswersModel.researchStartDateModel.get.hasDate){
            @textRowHelperMultiLineQuestion("researchStartDateModel", Array(Messages("summaryQuestion.bussinessStatus"), "", Messages("summaryQuestion.bussinessActivityStarted")), Array(checkAnswersModel.researchStartDateModel.get.hasStartedResearch, "", ResearchStartDateModel.toDateString(checkAnswersModel.researchStartDateModel.get.researchStartDay.get, checkAnswersModel.researchStartDateModel.get.researchStartMonth.get, checkAnswersModel.researchStartDateModel.get.researchStartYear.get)), Some(controllers.eis.routes.ResearchStartDateController.show().url))
            }else{
            @textRowHelperBasic("hasInvestmentTradeStarted", Messages("summaryQuestion.bussinessStatus"), checkAnswersModel.researchStartDateModel.get.hasStartedResearch, Some(controllers.eis.routes.ResearchStartDateController.show().url))
            }
            }
            }
            <!-- Date of First Commercial Sale -->
            @if(checkAnswersModel.commercialSaleModel.isDefined){
                @defining(checkAnswersModel.commercialSaleModel.get) { commercialSaleModel =>
                    @if(commercialSaleModel.hasCommercialSale == Messages("common.radioYesLabel")){
                        @textRowHelperMultiLineQuestion("commercialSale", Array(Messages("summaryQuestion.hasCommercialSale"),"", Messages("summaryQuestion.commercialSaleDate")),Array(commercialSaleModel.hasCommercialSale, "", CommercialSaleModel.toDateString(commercialSaleModel.commercialSaleDay.get, commercialSaleModel.commercialSaleMonth.get, commercialSaleModel.commercialSaleYear.get)), Some(controllers.eis.routes.CommercialSaleController.show().toString), None)
                    } else {
                        @textRowHelperBasic("commercialSale", Messages("summaryQuestion.hasCommercialSale"), commercialSaleModel.hasCommercialSale, Some(controllers.eis.routes.CommercialSaleController.show().toString))
                    }
                }
            }

            <!-- Share Issue Date -->
            @if(checkAnswersModel.shareIssueDate.isDefined){
            @textRowHelperBasic("shareIssueDate", Messages("summaryQuestion.shareIssueDate"), ShareIssueDateModel.toDateString(checkAnswersModel.shareIssueDate.get.day.get, checkAnswersModel.shareIssueDate.get.month.get, checkAnswersModel.shareIssueDate.get.year.get), Some(controllers.eis.routes.ShareIssueDateController.show().url))
            }
            <!-- Gross Assets -->
            @if(checkAnswersModel.grossAssets.isDefined){
            @textRowHelperBasic("grossAssets", Messages("summaryQuestion.businessGrossAssets"), GrossAssetsModel.getAmountAsFormattedString(checkAnswersModel.grossAssets.get.grossAmount), Some(controllers.eis.routes.GrossAssetsController.show().url))
            }
            <!-- Gross Assets After Issue -->
            @if(checkAnswersModel.grossAssetsAfterIssue.isDefined){
            @textRowHelperBasic("grossAssetsAfterIssue", Messages("summaryQuestion.businessGrossAssetsAfterIssue"), GrossAssetsModel.getAmountAsFormattedString(checkAnswersModel.grossAssetsAfterIssue.get.grossAmount), Some(controllers.eis.routes.GrossAssetsAfterIssueController.show().url))
            }
            <!--Is Knowledge Intensive -->
            @if(checkAnswersModel.isCompanyKnowledgeIntensiveModel.isDefined){
                @textRowHelperBasic("isCompanyKnowledgeIntensive", Messages("summaryQuestion.isCompanyKnowledgeIntensiveModel"),checkAnswersModel.isCompanyKnowledgeIntensiveModel.get.isCompanyKnowledgeIntensive, Some(controllers.eis.routes.IsCompanyKnowledgeIntensiveController.show().toString))
            }
            @if(checkAnswersModel.isCompanyKnowledgeIntensiveModel.isDefined && checkAnswersModel.isCompanyKnowledgeIntensiveModel.get.isCompanyKnowledgeIntensive == Messages("common.radioYesLabel") && checkAnswersModel.isKnowledgeIntensiveModel.isDefined){
            @textRowHelperBasic("knowledgeIntensive", Messages("summaryQuestion.knowledgeIntensive"),checkAnswersModel.isKnowledgeIntensiveModel.get.isKnowledgeIntensive, Some(controllers.eis.routes.IsKnowledgeIntensiveController.show().toString))
            }
            <!--If Knowledge Intensive is Yes-->
            @if(checkAnswersModel.isCompanyKnowledgeIntensiveModel.isDefined && checkAnswersModel.isKnowledgeIntensiveModel.isDefined){
                @if(checkAnswersModel.isCompanyKnowledgeIntensiveModel.get.isCompanyKnowledgeIntensive == Messages("common.radioYesLabel") && checkAnswersModel.isKnowledgeIntensiveModel.get.isKnowledgeIntensive == Messages("common.radioYesLabel")){
                    <!-- Operating and R&D Costs -->
                    @if(checkAnswersModel.operatingCostsModel.isDefined){
                        @defining(checkAnswersModel.operatingCostsModel.get) { operatingAndRDCosts =>
                            <!-- Operating Costs -->
                           @textRowHelperMultiLineQuestion("operatingCosts", Array(Messages("summaryQuestion.operatingCosts"), "","",Messages("summaryQuestion.rdCosts"),"",""), Array(OperatingCostsModel.getOperatingAndRDCostsAsFormattedString(operatingAndRDCosts.operatingCosts1stYear,Messages("page.companyDetails.OperatingCosts.row.heading.one")),
                                                            OperatingCostsModel.getOperatingAndRDCostsAsFormattedString(operatingAndRDCosts.operatingCosts2ndYear,Messages("page.companyDetails.OperatingCosts.row.heading.two")),
                                                            OperatingCostsModel.getOperatingAndRDCostsAsFormattedString(operatingAndRDCosts.operatingCosts3rdYear,Messages("page.companyDetails.OperatingCosts.row.heading.three")),
                                                            OperatingCostsModel.getOperatingAndRDCostsAsFormattedString(operatingAndRDCosts.rAndDCosts1stYear,Messages("page.companyDetails.OperatingCosts.row.heading.one")),
                                                            OperatingCostsModel.getOperatingAndRDCostsAsFormattedString(operatingAndRDCosts.rAndDCosts2ndYear,Messages("page.companyDetails.OperatingCosts.row.heading.two")),
                                                            OperatingCostsModel.getOperatingAndRDCostsAsFormattedString(operatingAndRDCosts.rAndDCosts3rdYear,Messages("page.companyDetails.OperatingCosts.row.heading.three"))),
                                                            Some(controllers.eis.routes.OperatingCostsController.show().toString), Some(true))
                        }
                    }
                    <!-- Percentage of Staff with Masters -->
                    @if(checkAnswersModel.percentageStaffWithMastersModel.isDefined){
                       @textRowHelperBasic("percentageStaffWithMasters", Messages("summaryQuestion.percentageStaffWithMasters"), PercentageStaffWithMastersModel.staffWithMastersToString(checkAnswersModel.percentageStaffWithMastersModel.get.staffWithMasters), Some(controllers.eis.routes.PercentageStaffWithMastersController.show().toString))
                        <!--Ten Year Plan-->
                        @if(checkAnswersModel.tenYearPlanModel.isDefined && checkAnswersModel.percentageStaffWithMastersModel.get.staffWithMasters == Messages("common.radioNoLabel")){
                            @if(checkAnswersModel.tenYearPlanModel.get.hasTenYearPlan == Messages("common.radioYesLabel")){
                            <!--Ten Year Plan Desc-->
                            @textRowHelperMultiLineQuestion("tenYearPlan", Array(Messages("summaryQuestion.developmentPlan"),Messages("summaryQuestion.developmentPlanDesc")),Array(checkAnswersModel.tenYearPlanModel.get.hasTenYearPlan,checkAnswersModel.tenYearPlanModel.get.tenYearPlanDesc.get), Some(controllers.eis.routes.TenYearPlanController.show().toString), Some(true))
                            }else{
                            @textRowHelperBasic("tenYearPlan", Messages("summaryQuestion.developmentPlan"),checkAnswersModel.tenYearPlanModel.get.hasTenYearPlan, Some(controllers.eis.routes.TenYearPlanController.show().toString))
                            }
                        }
                    }
                }
            }
            <!-- Full time employees -->
            @if(checkAnswersModel.fullTimeEmployees.isDefined){
            @textRowHelperBasic("fullTimeEmployees", Messages("summaryQuestion.fullTimeEmployees"), checkAnswersModel.fullTimeEmployees.get.employeeCount.toString(), Some(controllers.eis.routes.FullTimeEmployeeCountController.show().url))
            }
            </tbody>
        </table>

        <table id="previous-rfi-table">
            <!-- Header -->
            @tableHeaderHelper("previousRFISection", Messages("summaryQuestion.previousRFISection"))
            <!-- Data Rows-->
            <tbody>
            @if(checkAnswersModel.previousSchemes.length > 0){
                @textRowHelperBasic("yesPreviousScheme", Messages("page.summaryQuestion.none.question"), Messages("common.base.yes"), None)
                @for((previousScheme, index) <- checkAnswersModel.previousSchemes.zipWithIndex){
                    @textRowHelperMultiLine(s"previousScheme-$index", PreviousSchemeModel.getSchemeName(previousScheme.schemeTypeDesc, previousScheme.otherSchemeName),
                        PreviousSchemeModel.toArrayString(previousScheme), Some(controllers.eis.routes.ReviewPreviousSchemesController.show().url))
                }
            }else{
                @textRowHelperBasic("noPreviousScheme", Messages("page.summaryQuestion.none.question"), Messages("page.summaryQuestion.none.answer"), Some(controllers.eis.routes.HadPreviousRFIController.show().url))
            }

            </tbody>
        </table>

        <table id="shares-table">
            <!-- Header -->
            @tableHeaderHelper("sharesSection", Messages("page.summaryQuestion.shares"))
            <!--Data rows-->
            <tbody>
            <!-- Share Class Desc -->
            @if(checkAnswersModel.shareDescription.isDefined){
            @textRowHelperBasic("shareDescription", Messages("page.summaryQuestion.shareClass"),checkAnswersModel.shareDescription.get.shareDescription, Some(controllers.eis.routes.ShareDescriptionController.show().url))
            }
            <!-- Number of shares issued -->
            @if(checkAnswersModel.numberOfShares.isDefined){
            @textRowHelperBasic("numberOfShares", Messages("page.summaryQuestion.sharesIssues"), checkAnswersModel.numberOfShares.get.numberOfShares.toString() ,Some(controllers.eis.routes.NumberOfSharesController.show().url))
            }
            <!--Total Amount raised -->
            @if(checkAnswersModel.totalAmountRaisedModel.isDefined){
            @textRowHelperBasic("totalAmountRaised", Messages("page.summaryQuestion.amountRaised"), TotalAmountRaisedModel.getAmountAsFormattedString(checkAnswersModel.totalAmountRaisedModel.get.amount), Some(controllers.eis.routes.TotalAmountRaisedController.show().toString))
            }
            <!-- New Geographical Market page-->
            @if(checkAnswersModel.newGeographicalMarketModel.isDefined){
            @textRowHelperBasic("newGeoMarket", Messages("page.summaryQuestion.newGeoMarket"), checkAnswersModel.newGeographicalMarketModel.get.isNewGeographicalMarket, Some(controllers.eis.routes.NewGeographicalMarketController.show().toString))
            }
            <!-- New product market page-->
            @if(checkAnswersModel.newProductModel.isDefined){
            @textRowHelperBasic("newProduct", Messages("page.summaryQuestion.newProduct"), checkAnswersModel.newProductModel.get.isNewProduct, Some(controllers.eis.routes.NewProductController.show().toString))
            }
            <!-- Annual Turn Over page-->
            @if(checkAnswersModel.turnoverCosts.isDefined){
            @textRowHelperBasic("turnoverCosts", Messages("page.summaryQuestion.turnoverCosts"), AnnualTurnoverCostsModel.averagedAnnualTurnover(checkAnswersModel.turnoverCosts.get.amount1,checkAnswersModel.turnoverCosts.get.amount2,checkAnswersModel.turnoverCosts.get.amount3,checkAnswersModel.turnoverCosts.get.amount4,checkAnswersModel.turnoverCosts.get.amount5), Some(controllers.eis.routes.TurnoverCostsController.show().toString))
            }
            <!-- thirty Day Rule page -->
            @if(checkAnswersModel.thirtyDayRuleModel.isDefined){
            @textRowHelperBasic("thirtyDayRuleModel", Messages("page.summaryQuestion.thirtyDayRuleModel"), checkAnswersModel.thirtyDayRuleModel.get.thirtyDayRule, Some(controllers.eis.routes.ThirtyDayRuleController.show().toString))
            }
            <!--Market Description page-->
            @if(checkAnswersModel.marketDescription.isDefined){
            @textRowHelperBasic("marketDescription", Messages("page.summaryQuestion.marketDescription"), checkAnswersModel.marketDescription.get.text, Some(controllers.eis.routes.MarketDescriptionController.show().toString))
            }
            <!-- Investment Grow page-->
            @if(checkAnswersModel.investmentGrowModel.isDefined){
            @textRowHelperBasic("investmentGrow", Messages("page.summaryQuestion.investmentGrow"), checkAnswersModel.investmentGrowModel.get.investmentGrowDesc, Some(controllers.eis.routes.InvestmentGrowController.show().toString))
            }
            </tbody>
        </table>

        <table id="investors-table">
            <!-- Header -->
            @tableHeaderHelper("investorsSection", Messages("page.summaryQuestion.investorsSection"))
            <!-- Data Rows-->
            <tbody>
            <!-- Investors created-->
            @if(checkAnswersModel.investorDetails.isDefined && checkAnswersModel.investorDetails.get.length > 0){
            @textRowHelperBasic("numberOfInvestors", Messages("page.summaryQuestion.noOfInvestors"), checkAnswersModel.investorDetails.get.size.toString(), Some(controllers.eis.routes.ReviewAllInvestorsController.show().url))
            }
            <!-- Shares or debentures repaid or repurchased -->
            @if(checkAnswersModel.anySharesRepaymentModel.isDefined){
            @textRowHelperBasic("anySharesRepaymentModel", Messages("page.summaryQuestion.investorShares"), checkAnswersModel.anySharesRepaymentModel.get.anySharesRepayment, Some(controllers.eis.routes.AnySharesRepaymentController.show().url))
            }
            @if(checkAnswersModel.repaymentDetails.isDefined && checkAnswersModel.repaymentDetails.get.length > 0){
            @for((repayment, index) <- checkAnswersModel.repaymentDetails.get.zipWithIndex){
            @textRowHelperMultiLine(s"repayment-$index", s"${repayment.whoRepaidSharesModel.get.forename} ${repayment.whoRepaidSharesModel.get.surname}",
            SharesRepaymentDetailsModel.toArrayString(repayment), Some(controllers.eis.routes.ReviewPreviousRepaymentsController.show().url))
            }
            }

            <!-- Value received -->
            @if(checkAnswersModel.valueReceived.isDefined){
            @if(checkAnswersModel.valueReceived.get.wasAnyValueReceived == Messages("common.radioYesLabel")){
            @textRowHelperMultiLineQuestion("valueReceived", Array(Messages("page.summaryQuestion.isSharesValueReceived"), "", Messages("page.summaryQuestion.sharesValueReceived")), Array(checkAnswersModel.valueReceived.get.wasAnyValueReceived, "", checkAnswersModel.valueReceived.get.aboutValueReceived.get), Some(controllers.eis.routes.WasAnyValueReceivedController.show().url))
            }else{
            @textRowHelperBasic("valueReceived", Messages("page.summaryQuestion.isSharesValueReceived"), checkAnswersModel.valueReceived.get.wasAnyValueReceived, Some(controllers.eis.routes.WasAnyValueReceivedController.show().url))
            }
            }
            <!-- Share Capital Changes -->
            @if(checkAnswersModel.shareCapitalChanges.isDefined){
            @if(checkAnswersModel.shareCapitalChanges.get.hasChanges == Messages("common.radioYesLabel")){
            @textRowHelperMultiLineQuestion("shareCapitalChanges", Array(Messages("page.summaryQuestion.isSharesValueChanged"), "", Messages("page.summaryQuestion.sharesValueChanges")), Array(checkAnswersModel.shareCapitalChanges.get.hasChanges, "", checkAnswersModel.shareCapitalChanges.get.changesDescription.get), Some(controllers.eis.routes.ShareCapitalChangesController.show().url))
            }else{
            @textRowHelperBasic("shareCapitalChanges", Messages("page.summaryQuestion.isSharesValueChanged"), checkAnswersModel.shareCapitalChanges.get.hasChanges, Some(controllers.eis.routes.ShareCapitalChangesController.show().url))
            }
            }
            </tbody>
        </table>

        <table id="contactDetails-table">
            <!-- Header -->
            @tableHeaderHelper("contactDetailsSection", Messages("page.summaryQuestion.companyDetailsSectionFive"))
            <!--Data rows-->
            <tbody>
                @if(checkAnswersModel.contactDetailsModel.isDefined){
                @defining(checkAnswersModel.contactDetailsModel.get) { contactDetails =>
                    @textRowHelperMultiLine("contactDetails", Messages("page.summaryQuestion.contactDetails"), Transformers.contactDetailsModelToFlattenedArray(contactDetails),
                    Some(controllers.eis.routes.ContactDetailsController.show().toString))
                @if(checkAnswersModel.contactAddressModel.isDefined){
                    @textRowHelperMultiLine("address", Messages("page.summaryQuestion.contactAddress"), Transformers.addressModelToFlattenedArray(checkAnswersModel.contactAddressModel.get.copy(countryCode = CountriesHelper.getSelectedCountry(checkAnswersModel.contactAddressModel.get.countryCode))),
                    Some(controllers.eis.routes.ContactAddressController.show().toString))
                }
            }
            }
            </tbody>
        </table>

        <table id="supporting-docs-table">
            @tableHeaderHelper("supportingDocsSection",Messages("page.summaryQuestion.supportingDocsSection"))
            <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <p id="supportingDocs-sub-text">@Messages("page.checkAndSubmit.checkAnswers.suportingDocs.desc")</p>
                        <ul class="bullets">
                            <li id="supportingDocs-business-plan" class="font-xsmall">@Messages("page.supportingDocuments.SupportingDocuments.bullet.one")</li>
                            <li id="supportingDocs-company-accounts" class="font-xsmall">@Messages("page.supportingDocuments.SupportingDocuments.bullet.two")</li>
                            <li id="shareholder-agree" class="font-xsmall">@Messages("page.supportingDocuments.SupportingDocuments.bullet.three")</li>
                            <li id="memorandum-docs" class="font-xsmall">@Messages("page.supportingDocuments.SupportingDocuments.bullet.four")</li>
                            <li id="supportingDocs-prospectus" class="font-xsmall">@Messages("page.supportingDocuments.SupportingDocuments.bullet.five")</li>
                        </ul>
                    </div>
                </td>
                <td></td>
                @if(checkAnswersModel.attachmentsEnabled) {
                <td class="summaryLink align-top">
                    <a id="supporting-docs-link" href=@controllers.eis.routes.SupportingDocumentsUploadController.show().url>@Messages("common.base.change")</a>
                </td>
                } else {
                <td></td>
                }
            </tr>
            </tbody>
        </table>
    </div>




    @form(action = controllers.eis.routes.CheckAnswersController.submit()) {
        <div class="form-group">
            <button class="btn button" type="submit" id="submit">@Messages("page.checkAndSubmit.checkAnswers.button.confirm")</button>
        </div>
    }

}
