@import uk.gov.hmrc.play.views.html.helpers.form

@()(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("page.termsAndConditions.title"), bodyClasses = None) {

    <h1 class="heading-xlarge" id="main-heading">@Messages("page.termsAndConditions.heading")</h1>

    <div class="form-group">
        <p class="lede" id="declaration">@Messages("page.termsAndConditions.declaration")</p>
    </div>

    <h2 class="heading-small" id="declarationOne">@Messages("page.termsAndConditions.declaration.one.heading")</h2>

    <div class="form-group">
        <ul class="list list-bullet">
            <li id="help-bullet-declarationOne-one">@Messages("page.termsAndConditions.declaration.one.bullet.one")</li>
            <li id="help-bullet-declarationOne-two">@Messages("page.termsAndConditions.eis.declaration.one.bullet.two")</li>
        </ul>
    </div>

    <h2 class="heading-small" id="declarationTwo">@Messages("page.termsAndConditions.declaration.two.heading")</h2>

    <div class="form-group">
        <ul class="list list-bullet">
            <li id="help-bullet-declarationTwo-one">@Messages("page.termsAndConditions.declaration.two.bullet.one")</li>
            <li id="help-bullet-declarationTwo-two">@Messages("page.termsAndConditions.declaration.two.bullet.two")</li>
            <li id="help-bullet-declarationTwo-three">@Messages("page.termsAndConditions.declaration.two.bullet.three")</li>
            <li id="help-bullet-declarationTwo-four">@Messages("page.termsAndConditions.declaration.two.bullet.four")</li>
            <li id="help-bullet-declarationTwo-five">@Messages("page.termsAndConditions.eis.declaration.two.bullet.five")</li>
            <li id="help-bullet-declarationTwo-six">@Messages("page.termsAndConditions.eis.declaration.two.bullet.six")</li>
            <li id="help-bullet-declarationTwo-seven">@Messages("page.termsAndConditions.eis.declaration.two.bullet.seven")</li>
        </ul>
    </div>

    <h2 class="heading-small" id="declarationThree">@Messages("page.termsAndConditions.eis.declaration.three.heading")</h2>

    <div class="form-group">
        <ul class="list list-bullet">
            <li id="help-bullet-declarationThree-one">@Messages("page.termsAndConditions.declaration.three.bullet.one")</li>
            <li id="help-bullet-declarationThree-two">@Messages("page.termsAndConditions.declaration.three.bullet.two")</li>
            <li id="help-bullet-declarationThree-three">@Messages("page.termsAndConditions.eis.declaration.three.bullet.three")</li>
            <li id="help-bullet-declarationThree-four">@Messages("page.termsAndConditions.eis.declaration.three.bullet.four")</li>
            <li id="help-bullet-declarationThree-five">@Messages("page.termsAndConditions.eis.declaration.three.bullet.five")</li>
            <li id="help-bullet-declarationThree-six">@Messages("page.termsAndConditions.eis.declaration.three.bullet.six")</li>
            <li id="help-bullet-declarationThree-seven">@Messages("page.termsAndConditions.eis.declaration.three.bullet.seven")</li>
        </ul>
    </div>

}
