@import models.repayments.AnySharesRepaymentModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import common.Constants
@import views.html.helpers.{backButtonWithProgress, formInputRadioGroup, errorSummary, formHint}

@(anySharesRepaymentForm: Form[AnySharesRepaymentModel])(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.AnySharesRepayment.title")) {

    @backButtonWithProgress(controllers.eis.routes.ReviewAllInvestorsController.show().url, Messages("common.section.progress.details.four"))

    @errorSummary(anySharesRepaymentForm, "any-shares-repayment", "anySharesRepayment")
    <h1 class="heading-xlarge" id="main-heading">@Messages("page.AnySharesRepayment.heading")</h1>

    <div class="form-group">
        <p id="description-one" class="lede">@Messages("page.AnySharesRepayment.descriptionOne.text")</p>
    </div>

    <div class="form-group">
        <ul class="list list-bullet">
            <li id="help-bullet-one">@Messages("page.AnySharesRepayment.help.bullet.one")</li>
            <li id="help-bullet-two">@Messages("page.AnySharesRepayment.help.bullet.two")</li>
            <li id="help-bullet-three">@Messages("page.AnySharesRepayment.help.bullet.three")</li>
        </ul>
    </div>

    @form(action = controllers.eis.routes.AnySharesRepaymentController.submit()) {

    <div class="form-group">
        @formInputRadioGroup(
        field = anySharesRepaymentForm("anySharesRepayment"),
        Seq(
        Constants.StandardRadioButtonYesValue -> Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue -> Messages("common.radioNoLabel")),
        '_legend -> Messages("page.AnySharesRepayment.legend"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legendID -> "anySharesRepayment",
        '_groupClass -> "inline"
        )
    </div>

    <div class="form-group">
        <button class="btn button" type="submit" id="next">@Messages("common.button.snc")</button>
    </div>
    }
}
