@import views.html.helpers.backButtonWithProgress
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.inputWithCurrencySymbol
@import views.html.helpers.{errorSummary, hiddenField}
@import models.investorDetails.PreviousShareHoldingNominalValueModel

@(previousShareHoldingNominalValueForm: Form[PreviousShareHoldingNominalValueModel], backUrl: String, investorProcessingId: Int)(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.investors.previousShareHoldingNominalValue.title")) {
@backButtonWithProgress(backUrl, Messages("common.section.progress.details.four"))

    @errorSummary(previousShareHoldingNominalValueForm, "previous-share-holding-nominal-value", "previousShareHoldingNominalValue")

    <h1 id="main-heading" class="heading-xlarge">@Messages("page.investors.previousShareHoldingNominalValue.heading")</h1>

    <div id="nominal-value-info" class = "form-group">
        <p>@Messages("page.investors.previousShareHoldingNominalValue.whereToFind")</p>
    </div>

    @form(action = controllers.seis.routes.PreviousShareHoldingNominalValueController.submit(Some(investorProcessingId))) {
        <div class="form-group">
            @inputWithCurrencySymbol(
            previousShareHoldingNominalValueForm("previousShareHoldingNominalValue"),
            '_divClass -> "form-label",
            '_labelId -> "label-previousShareholdingNominalValue",
            '_label -> Messages("page.seis.previousShareHoldingNominalValue.title"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--no-spinner input--left-padding",
            '_type -> "text",
            '_maxlength -> "11",
            '_hintId -> "label-nominal-value-hint",
            '_inputHint -> Messages("page.investors.previousShareHoldingNominalValue.hint")
            )

        </div>

        <div>
            @hiddenField(
            previousShareHoldingNominalValueForm("processingId"),
            'id -> "processingId"
            )
        </div>

        <div>
            @hiddenField(
            previousShareHoldingNominalValueForm("investorProcessingId"),
            'id -> "investorProcessingId"
            )
        </div>

        <div>
            <button class="btn button" type="submit" id="next">@Messages("common.button.snc")</button>
        </div>
    }
}