@import models.investorDetails.PreviousShareHoldingModel
@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.{errorSummary, formInputRadioGroup, backButtonWithProgress, input, inputWithCurrencySymbol, formInlineDateInput, hiddenField}

@(previousShareHoldingModels: Vector[PreviousShareHoldingModel], backUrl: String)(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.seis.investors.previousShareHoldingReview.title"), articleLayout=false) {

@backButtonWithProgress(backUrl, Messages("common.section.progress.company.details.four"))

<div class="grid-column">
    <div class="full-width">
        <h1 class="form-title heading-xlarge" id="main-heading">@Messages("page.seis.investors.previousShareHoldingReview.heading")</h1>
        <table id="previous-schemes-table">
            <thead>
                <tr>
                    <th id="scheme-table-heading">@Messages("page.seis.investors.previousShareHoldingReview.heading.one")</th>
                    <th id="amount-raised-table-heading">@Messages("page.seis.investors.previousShareHoldingReview.heading.two")</th>
                    <th id="date-table-heading">@Messages("page.seis.investors.previousShareHoldingReview.heading.three")</th>
                    <th id="count-raised-table-heading">@Messages("page.seis.investors.previousShareHoldingReview.heading.four")</th>
                    <th>
                        <span class="visuallyhidden">
                            @Messages("common.base.change")
                        </span>
                    </th>
                    <th>
                        <span class="visuallyhidden">
                            @Messages("common.base.remove")
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
            @for((previousShareHoldingModel, index) <- previousShareHoldingModels.zipWithIndex) {
            <tr>
                <td id="share-desc-@{index}">@previousShareHoldingModel.previousShareHoldingDescriptionModel.get.description</td>
                <td id="share-nominal-value-@{index}">@PreviousShareHoldingModel.getAmountAsFormattedString(previousShareHoldingModel.previousShareHoldingNominalValueModel.get.nominalValue)</td>
                <td id="share-purchase-date-@{index}">@PreviousShareHoldingModel.toDateString(previousShareHoldingModel.investorShareIssueDateModel.get.investorShareIssueDateDay.get,
                    previousShareHoldingModel.investorShareIssueDateModel.get.investorShareIssueDateMonth.get, previousShareHoldingModel.investorShareIssueDateModel.get.investorShareIssueDateYear.get)</td>
                <td id="share-purchase-count-@{index}">@previousShareHoldingModel.numberOfPreviouslyIssuedSharesModel.get.previouslyIssuedShares</td>
                <td id="change-@{index}"><a id="change-ref-@{index}"
                                            href=@controllers.seis.routes.PreviousShareHoldingDescriptionController.show(previousShareHoldingModel.investorProcessingId.get,previousShareHoldingModel.processingId).toString>@Messages("common.base.change")</a></td>
                <td id="remove-@{index}"> @form(action = controllers.seis.routes.PreviousShareHoldingsReviewController.remove(previousShareHoldingModel.investorProcessingId.get,previousShareHoldingModel.processingId.get)) {
                    <button class="button--link-style font-xsmall removeLink" type="submit" id="remove-link-@{index}"> @Messages("common.base.remove")</button>
                    }</td>
            </tr>
            @if(previousShareHoldingModel.validate){
            <tr>
                <td colspan="6"><a id="add-share-holder"
                                   href=@controllers.seis.routes.PreviousShareHoldingDescriptionController.show(previousShareHoldingModel.investorProcessingId.get).toString>@Messages("page.seis.investors.previousShareHoldingReview.add")</a></td>
            </tr>
            }


            </tbody>
        </table>
        @if(previousShareHoldingModel.validate){
        @form(action = controllers.seis.routes.PreviousShareHoldingsReviewController.submit(previousShareHoldingModel.investorProcessingId.get)) {
        <div class="form-group">
            <button class="btn button" type="submit" id="next">@Messages("common.button.snc")</button>
        </div>
        }
        }
        }
    </div>
</div>
}
