@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.{backButtonWithProgress, input, errorSummary, hiddenField, textArea}
@import models.investorDetails.PreviousShareHoldingDescriptionModel
@import common.Constants

@(companyOrIndividual: String, previousShareHoldingDescriptionForm: Form[PreviousShareHoldingDescriptionModel], backUrl: String, investorProcessingId: Int)(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.investors.previousShareHoldingDescription.title", companyOrIndividual.toLowerCase())) {

@backButtonWithProgress(backUrl, Messages("common.section.progress.details.four"))

@errorSummary(previousShareHoldingDescriptionForm, "previous-shareholding-description", "previousShareHoldingDescription")

<h1 class="heading-xlarge">@Messages("page.investors.previousShareHoldingDescription.heading", companyOrIndividual.toLowerCase())</h1>

<div class="form-group">
    <p id="description-one" class="lede">@Messages("page.investors.previousShareHoldingDescription.example.text")</p>
</div>

@form(action = controllers.seis.routes.PreviousShareHoldingDescriptionController.submit(Some(companyOrIndividual), Some(investorProcessingId))) {

<fieldset>
    <legend class="visuallyhidden">@Messages("page.investors.previousShareHoldingDescription.heading")</legend>
    <div class="form-group">
        <span class = "form-hint" id="desc-one">@Messages("page.investors.previousShareHoldingDescription.question.hint")</span>
        @textArea(
        previousShareHoldingDescriptionForm("descriptionTextArea"),
        '_cols -> "45",
        '_rows -> "5",
        '_maxLength-> Constants.shortTextLimit,
        '_label-> Messages("page.investors.previousShareHoldingDescription.heading", companyOrIndividual.toLowerCase()),
        '_labelTextClass-> "visuallyhidden"
        )
    </div>
    </fieldset>
    <details>
        <summary><span id="help" class="summary">@Messages("page.investors.previousShareHoldingDescription.whereToFind")</span></summary>
        <div class="panel panel-indent panel-border-narrow">
            <p id="share-description-where-to-find">@Messages("page.investors.previousShareHoldingDescription.location")
            </p>
        </div>
    </details>

    <div>
        @hiddenField(
        previousShareHoldingDescriptionForm("processingId"),
        'id -> "processingId"
        )
    </div>

    <div>
        @hiddenField(
        previousShareHoldingDescriptionForm("investorProcessingId"),
        'id -> "investorProcessingId"
        )
    </div>
    <div>
        <button class="btn button" type="submit" id="next">@Messages("common.button.snc")</button>
    </div>

    }
}