@import models.investorDetails.InvestorDetailsModel
@import models.investorDetails.PreviousShareHoldingModel
@import views.html.helpers.summary.textRowHelperBasic
@import views.html.helpers.summary.tableHeaderHelper
@import views.html.helpers.summary.textRowHelperMultiLine
@import views.html.helpers.backButtonWithProgress
@import common.Constants
@import utils.Transformers

@(investor: InvestorDetailsModel)(implicit request: Request[_], messages: Messages)

@previousShareholdingRow(model: PreviousShareHoldingModel, id: Int) = {
    @textRowHelperMultiLine(
        s"previous-shareholding-$id",
        model.previousShareHoldingDescriptionModel.map(_.description).getOrElse(Messages("page.investors.reviewInvestorDetails.incomplete")),
        Array(
            model.previousShareHoldingNominalValueModel.map { model =>
                Messages("page.investors.reviewInvestorDetails.shareholdings.nominalValue", s"£${Transformers.numberToFormattedNumber(model.nominalValue)}")
            }.getOrElse(Messages("page.investors.reviewInvestorDetails.incomplete")),

            model.investorShareIssueDateModel.flatMap { date =>
                date.formatDateToString.map { dateString =>
                    Messages("page.investors.reviewInvestorDetails.shareholdings.dateOfInvestment", dateString)
                }
            }.getOrElse(Messages("page.investors.reviewInvestorDetails.incomplete")),

            model.numberOfPreviouslyIssuedSharesModel.map { model =>
                Messages("page.investors.reviewInvestorDetails.shareholdings.numberOfShares", Transformers.numberToFormattedNumber(model.previouslyIssuedShares))
            }.getOrElse(Messages("page.investors.reviewInvestorDetails.incomplete"))
        ),
        Some(controllers.seis.routes.PreviousShareHoldingsReviewController.show(investor.processingId.get).url),
        complete = model.validate
    )
}

@main_template(Messages("page.investors.reviewInvestorDetails.title", investor.investorOrNomineeModel.map(_.addInvestorOrNominee).get.toLowerCase), articleLayout=false) {

    <p>@Messages("common.section.progress.company.details.four")</p>

    <h1 class="heading-xlarge">@Messages("page.investors.reviewInvestorDetails.title", investor.investorOrNomineeModel.map(_.addInvestorOrNominee).get.toLowerCase)</h1>

    <div id="review-investor" class="full-width">
        <table id="investor-details-table">
            @tableHeaderHelper("investor-details", Messages("page.investors.reviewInvestorDetails.investor.subheading", investor.investorOrNomineeModel.map(_.addInvestorOrNominee).get))
            <tbody>
                @textRowHelperBasic(
                    "investor-or-nominee",
                    Messages("page.investors.reviewInvestorDetails.investor.investorOrNominee"),
                    investor.investorOrNomineeModel.map(_.addInvestorOrNominee).getOrElse(Messages("page.investors.reviewInvestorDetails.incomplete")),
                    Some(controllers.seis.routes.ReviewInvestorDetailsController.change(Constants.AddInvestorOrNomineeController, investor.processingId.get).url)
                )

                @textRowHelperBasic(
                    "company-or-individual",
                    Messages("page.investors.reviewInvestorDetails.investor.companyOrIndividual"),
                    investor.companyOrIndividualModel.map(_.companyOrIndividual).getOrElse(Messages("page.investors.reviewInvestorDetails.incomplete")),
                    Some(controllers.seis.routes.ReviewInvestorDetailsController.change(Constants.CompanyOrIndividualController, investor.processingId.get).url),
                    complete = investor.companyOrIndividualModel.isDefined
                )

                @if(investor.companyOrIndividualModel.map(_.companyOrIndividual).getOrElse("") == Constants.typeCompany) {
                    @textRowHelperBasic(
                        "company-name",
                        Messages("page.investors.reviewInvestorDetails.investor.companyName"),
                        investor.companyDetailsModel.map(_.companyName).getOrElse(Messages("page.investors.reviewInvestorDetails.incomplete")),
                        Some(controllers.seis.routes.ReviewInvestorDetailsController.change(Constants.CompanyDetailsController, investor.processingId.get).url),
                        complete = investor.companyDetailsModel.isDefined
                    )

                    @textRowHelperMultiLine(
                        "company-address",
                        Messages("page.investors.reviewInvestorDetails.investor.contactAddress"),
                        investor.companyDetailsModel.map(_.toArray).getOrElse(Array(Messages("page.investors.reviewInvestorDetails.incomplete"))),
                        Some(controllers.seis.routes.ReviewInvestorDetailsController.change(Constants.CompanyDetailsController, investor.processingId.get).url),
                        complete = investor.companyDetailsModel.isDefined
                    )
                }

                @if(investor.companyOrIndividualModel.map(_.companyOrIndividual).getOrElse("") == Constants.typeIndividual) {
                    @textRowHelperBasic(
                        "individual-name",
                        Messages("page.investors.reviewInvestorDetails.investor.contactName"),
                        if(investor.individualDetailsModel.isDefined) {
                            s"${investor.individualDetailsModel.get.forename} ${investor.individualDetailsModel.get.surname}"
                        } else { Messages("page.investors.reviewInvestorDetails.incomplete") },
                        Some(controllers.seis.routes.ReviewInvestorDetailsController.change(Constants.IndividualDetailsController, investor.processingId.get).url),
                        complete = investor.individualDetailsModel.isDefined
                    )

                    @textRowHelperMultiLine(
                        "individual-address",
                        Messages("page.investors.reviewInvestorDetails.investor.contactAddress"),
                        investor.individualDetailsModel.map(_.toArray).getOrElse(Array(Messages("page.investors.reviewInvestorDetails.incomplete"))),
                        Some(controllers.seis.routes.ReviewInvestorDetailsController.change(Constants.IndividualDetailsController, investor.processingId.get).url),
                        complete = investor.individualDetailsModel.isDefined
                    )
                }

                @textRowHelperBasic(
                    "shares-purchased",
                    Messages("page.investors.reviewInvestorDetails.investor.purchasedShares"),
                    investor.numberOfSharesPurchasedModel.map(_.numberOfSharesPurchased.toString).getOrElse(Messages("page.investors.reviewInvestorDetails.incomplete")),
                    Some(controllers.seis.routes.ReviewInvestorDetailsController.change(Constants.NumberOfSharesPurchasedController, investor.processingId.get).url),
                    complete = investor.numberOfSharesPurchasedModel.isDefined
                )

                @textRowHelperBasic(
                    "amount-spent",
                    Messages("page.investors.reviewInvestorDetails.investor.totalSpent"),
                    investor.amountSpentModel.map( model =>
                        s"£${Transformers.numberToFormattedNumber(model.amount)}"
                    ).getOrElse(Messages("page.investors.reviewInvestorDetails.incomplete")),
                    Some(controllers.seis.routes.ReviewInvestorDetailsController.change(Constants.HowMuchSpentOnSharesController, investor.processingId.get).url),
                    complete = investor.amountSpentModel.isDefined
                )
            </tbody>
        </table>

        <table id="previous-shareholdings-table">
            @tableHeaderHelper("previous-shareholdings", Messages("page.investors.reviewInvestorDetails.shareholdings.subheading"))
            <tbody>
                @textRowHelperBasic(
                    "is-existing-shareholder",
                    Messages("page.investors.reviewInvestorDetails.shareholdings.isExistingShareholder"),
                    investor.isExistingShareHolderModel.map(_.isExistingShareHolder).getOrElse(Messages("page.investors.reviewInvestorDetails.incomplete")),

                    if (investor.showIsExistingShareholderChangeLink) {
                        Some(controllers.seis.routes.ReviewInvestorDetailsController.change(Constants.IsExistingShareHolderController, investor.processingId.get).url)
                    } else None,
                    complete = investor.isExistingShareHolderModel.isDefined && investor.validateShareHoldings
                )

                @if(investor.isExistingShareHolderModel.map(_.isExistingShareHolder == Constants.StandardRadioButtonYesValue).getOrElse(false)) {
                    @investor.previousShareHoldingModels.map(_.map { model =>
                        previousShareholdingRow(model, model.processingId.getOrElse(1))
                    })

                    @if(investor.validate) {
                        <tr>
                            <td id="add-shareholder-link">
                                <a href="@controllers.seis.routes.PreviousShareHoldingDescriptionController.show(investor.processingId.getOrElse(0)).url">
                                    @Messages("page.investors.reviewInvestorDetails.shareholdings.addAnotherShareholding")
                                </a>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @if(investor.validate) {
            <a class="button" id="next" href="@controllers.seis.routes.ReviewAllInvestorsController.show().url">
                @Messages("common.button.snc")
            </a>
        }
    </div>
}