@import views.html.helpers.backButtonWithProgress
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.inputWithCurrencySymbol
@import views.html.helpers.errorSummary

@(nominalValueOfSharesForm: Form[NominalValueOfSharesModel])(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.seis.nominalValueOfShares.title")) {
    @backButtonWithProgress(controllers.seis.routes.NumberOfSharesController.show().url, Messages("common.section.progress.company.details.three"))

    @errorSummary(nominalValueOfSharesForm, "nominal-value-of-shares", "nominalValueOfShares")

    <h1 class="heading-xlarge">@Messages("page.seis.nominalValueOfShares.title")</h1>

    @form(action = controllers.seis.routes.NominalValueOfSharesController.submit()) {
        <div class="form-group">
            <p>@Messages("page.seis.nominalValueOfShares.hint")</p>

            @inputWithCurrencySymbol(
            nominalValueOfSharesForm("nominalValueOfShares"),
            '_divClass -> "form-label",
            '_labelId -> "label-nominalValueOfShares",
            '_label -> Messages("page.seis.nominalValueOfShares.title"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--no-spinner input--left-padding",
            '_type -> "text",
            '_maxlength -> "11",
            'id -> "totalAmountSpent"
            )

        </div>

        <div>
            <button class="btn button" type="submit" id="next">@Messages("common.button.snc")</button>
        </div>
    }
}