@import models._
@import forms._
@import testOnly.models.TestPreviousSchemesModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import common.Constants
@import utils.CountriesHelper
@import views.html.helpers.{externalLink,formHint, formInputRadioGroup, backButtonWithProgress, input, inputWithCurrencySymbol, formInlineDateInput, hiddenField, errorSummary, formShowYesNoRadioContent, textArea, dropdown}


@(numberOfSharesForm:Form[NumberOfSharesModel], nominalValueOfSharesForm: Form[NominalValueOfSharesModel],
individualDetailsForm: Form[IndividualDetailsModel], shareDescriptionForm: Form[ShareDescriptionModel],
totalAmountRaisedForm:Form[TotalAmountRaisedModel], totalAmountSpentForm:Form[TotalAmountSpentModel],
addInvestorOrNomineeForm: Form[AddInvestorOrNomineeModel], companyOrIndividualForm: Form[CompanyOrIndividualModel],
companyDetailsForm: Form[CompanyDetailsModel], howMuchSpentOnSharesForm : Form[HowMuchSpentOnSharesModel]
)(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.test.page-two.title")) {

<div class="grid-row">

    @form(action = testOnly.controllers.seis.routes.TestEndpointSEISController.submitPageTwo()) {

    <h2>Number of Shares</h2>
    <div class="form-group">
        @input(
        numberOfSharesForm("numberOfShares"),
        '_divClass -> "form-label",
        '_labelId -> "label-numberOfShares",
        '_label -> Messages("page.shareDetails.numberOfShares.heading"),
        '_labelTextClass -> "visuallyhidden",
        '_inputClass -> "input--fullwidth"
        )
    </div>

    <h2>Nominal Value of Shares</h2>
    <div class="form-group">
        <p>@Messages("page.seis.nominalValueOfShares.hint")</p>
        @inputWithCurrencySymbol(
        nominalValueOfSharesForm("nominalValueOfShares"),
        '_divClass -> "form-label",
        '_label -> Messages("page.seis.nominalValueOfShares.title"),
        '_labelTextClass -> "visuallyhidden"
        )
    </div>

    <h2>What are this company’s details?</h2>
    <div class="form-group">
        <span class = "form-hint" id="desc-one">@Messages("page.shares.shareDescription.question.hint")</span>
        @textArea(
        shareDescriptionForm("shareDescription"),
        '_cols -> "45",
        '_rows -> "2",
        '_maxLength-> Constants.ShareDescriptionMaxLength,
        '_label-> Messages("page.shares.shareDescription.heading"),
        '_labelTextClass-> "visuallyhidden"
        )
    </div>



    <h2>Total Amount Raised</h2>
    <div class="form-group">
        @inputWithCurrencySymbol(
        totalAmountRaisedForm("amount"),
        '_divClass -> "form-label",
        '_labelId -> "label-amount",
        '_label -> Messages("page.shareDetails.totalAmountRaised.heading"),
        '_labelTextClass -> "visuallyhidden",
        '_inputClass -> "input--normal input--no-spinner input--left-padding",
        '_type -> "text",
        '_maxlength -> "9",
        'id -> "amount"
        )
    </div>

    <h2>Total Amount Spent</h2>
    <div class="form-group">
        @inputWithCurrencySymbol(
        totalAmountSpentForm("totalAmountSpent"),
        '_divClass -> "form-label",
        '_labelId -> "label-totalAmountSpent",
        '_label -> Messages("page.seis.shareDetails.totalAmountSpent.heading=Total amount spent"),
        '_labelTextClass -> "visuallyhidden",
        '_inputClass -> "input--fullwidth"
        )
    </div>

    <h2>Add each investor or nominee</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = addInvestorOrNomineeForm("addInvestorOrNominee"),
        Seq(
        Constants.investor -> Messages("page.seis.investors.AddInvestorOrNominee.radioButton.one"),
        Constants.nominee -> Messages("page.seis.investors.AddInvestorOrNominee.radioButton.two")),
        '_legend -> Messages("page.seis.investors.AddInvestorOrNominee.heading"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legendID -> "addInvestorOrNominee",
        '_groupClass -> "inline"
        )
    </div>

    <div>
        <h2>Individual Details</h2>
        <div class="form-group">

            @input(
            individualDetailsForm("forename"),
            '_divClass -> "form-label",
            '_labelId -> "label-forename",
            '_label -> Messages("page.seis.individualDetails.forename.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "forename"
            )
        </div>

        <div class="form-group">
            @input(
            individualDetailsForm("surname"),
            '_divClass -> "form-label",
            '_labelId -> "label-surname",
            '_label -> Messages("page.seis.individualDetails.surname.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "surname"
            )
        </div>

        <div class="form-group">
            @input(
            individualDetailsForm("addressline1"),
            '_divClass -> "form-label",
            '_labelId -> "label-addressline1",
            '_label -> Messages("page.seis.individualDetails.addressline1.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "addressline1"
            )
        </div>
        <div class="form-group">
            @input(
            individualDetailsForm("addressline2"),
            '_divClass -> "form-label",
            '_labelId -> "label-addressline2",
            '_label -> Messages("page.seis.individualDetails.addressline2.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "addressline2"
            )
        </div>
        <div class="form-group">
            @input(
            individualDetailsForm("addressline3"),
            '_divClass -> "form-label",
            '_labelId -> "label-addressline3",
            '_label -> Messages("page.seis.individualDetails.addressline3.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "addressline3"
            )
        </div>
        <div class="form-group">
            @input(
            individualDetailsForm("addressline4"),
            '_divClass -> "form-label",
            '_labelId -> "label-addressline4",
            '_label -> Messages("page.seis.individualDetails.addressline4.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "addressline4"
            )
        </div>
        <div class="form-group">
            @input(
            individualDetailsForm("postcode"),
            '_divClass -> "form-label",
            '_labelId -> "label-postcode",
            '_label -> Messages("page.seis.individualDetails.postcode.label"),
            '_maxlength -> "10",
            '_inputClass -> "input--small input--cleared",
            'id -> "postcode"
            )
        </div>
        <div class="form-group">
            @dropdown(individualDetailsForm("countryCode"),
            elementOptions = CountriesHelper.getIsoCodeTupleList,
            displayEmptyValue = true,
            '_emptyValueText -> Messages("page.address.country.select"),
            '_labelId -> "label-country",
            '_id -> "countryCode",
            '_inputClass -> "input--medium input--cleared",
            '_label -> Html(Messages("page.contactInformation.ProvideContactAddress.country.label")))
        </div>
    </div>

    <h2>Company Details</h2>
    <div class="form-group">
        <div class="form-group">
            @input(
            companyDetailsForm("companyName"),
            '_divClass -> "form-label",
            '_labelId -> "label-companyName",
            '_label -> Messages("page.investment.companyDetails.companyname.label"),
            '_maxlength -> "56",
            '_inputClass -> "input--medium input--cleared",
            'id -> "companyName"
            )
        </div>
        <div class="form-group">
            @input(
            companyDetailsForm("companyAddressline1"),
            '_divClass -> "form-label",
            '_labelId -> "label-companyAddressline1",
            '_label -> Messages("page.investment.companyDetails.addressline1.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "companyAddressline1"
            )
        </div>
        <div class="form-group">
            @input(
            companyDetailsForm("companyAddressline2"),
            '_divClass -> "form-label",
            '_labelId -> "label-companyAddressline2",
            '_label -> Messages("page.investment.companyDetails.addressline2.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "companyAddressline2"
            )
        </div>
        <div class="form-group">
            @input(
            companyDetailsForm("companyAddressline3"),
            '_divClass -> "form-label",
            '_labelId -> "label-companyAddressline3",
            '_label -> Messages("page.investment.companyDetails.addressline3.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "companyAddressline3"
            )
        </div>
        <div class="form-group">
            @input(
            companyDetailsForm("companyAddressline4"),
            '_divClass -> "form-label",
            '_labelId -> "label-companyAddressline4",
            '_label -> Messages("page.investment.companyDetails.addressline4.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "companyAddressline4"
            )
        </div>
        <div class="form-group">
            @input(
            companyDetailsForm("companyPostcode"),
            '_divClass -> "form-label",
            '_labelId -> "label-companyPostcode",
            '_label -> Messages("page.investment.companyDetails.postcode.label"),
            '_maxlength -> "10",
            '_inputClass -> "input--small input--cleared",
            'id -> "companyPostcode"
            )
        </div>
        <div class="form-group">
            @dropdown(companyDetailsForm("countryCode"),
            elementOptions = CountriesHelper.getIsoCodeTupleList,
            displayEmptyValue = true,
            '_emptyValueText -> Messages("page.address.country.select"),
            '_labelId -> "label-country",
            '_id -> "countryCode",
            '_inputClass -> "input--medium input--cleared",
            '_label -> Html(Messages("page.investment.companyDetails.country.label")))
        </div>
    </div>

        <h2>Company or Individual</h2>
        <div class="form-group">
            @formInputRadioGroup(
            field = companyOrIndividualForm("companyOrIndividual"),
            Seq(
            Constants.typeCompany -> Messages("page.investors.companyOrIndividual.company"),
            Constants.typeIndividual -> Messages("page.investors.companyOrIndividual.individual")),
            '_legend -> Messages("page.investors.companyOrIndividual.heading"),
            '_legendClass -> "visuallyhidden",
            '_labelAfter -> true,
            '_labelClass -> "block-label",
            '_legendID -> "companyOrIndividual",
            '_groupClass -> "block"
            )
        </div>

        <h2>How much spent on shares</h2>
        <div class="form-group">
            @inputWithCurrencySymbol(
            howMuchSpentOnSharesForm("howMuchSpentOnShares" ),
            '_divClass -> "form-label",
            '_labelId -> "label-howMuchSpentOnShares",
            '_label -> Messages("page.seis.investors.howMuchSpentOnShares.title"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--no-spinner input--left-padding",
            '_type -> "text",
            '_maxlength -> "11",
            'id -> "howMuchSpent"
            )
        </div>

    <div class="form-group">
        <button class="btn button" type="submit" id="next">
            @Messages("page.test.submit-form.button")
        </button>

        <a class="btn button" id="clear-cache" href="@testOnly.controllers.routes.ClearCacheController.clearCache()">
            @Messages("page.test.clear-cache.button")
        </a>
    </div>

    }

</div>

}
