@import models._
@import models.investorDetails._
@import forms._
@import testOnly.models._
@import uk.gov.hmrc.play.views.html.helpers.form
@import common.Constants
@import utils.CountriesHelper
@import views.html.helpers.{externalLink,formHint, formInputRadioGroup, backButtonWithProgress, input, inputWithCurrencySymbol,formInlineDateInput, hiddenField, errorSummary, formShowYesNoRadioContent, textArea, dropdown, formHiddenYesNoRadioNoError}


@(testInvestorModeOptionsForm:Form[TestInvestorModeOptionsModel], numberOfSharesForm:Form[NumberOfSharesModel], nominalValueOfSharesForm: Form[NominalValueOfSharesModel],
 shareDescriptionForm: Form[ShareDescriptionModel],totalAmountRaisedForm:Form[TotalAmountRaisedModel], totalAmountSpentForm:Form[TotalAmountSpentModel],
wasAnyValueReceivedForm: Form[WasAnyValueReceivedModel],shareCapitalChangesForm: Form[ShareCapitalChangesModel])(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.test.page-two.title")) {

<div class="grid-row">

    @form(action = testOnly.controllers.seis.routes.TestEndpointSEISController.submitPageTwo()) {

    <div class="form-group">
        @formInputRadioGroup(
        field = testInvestorModeOptionsForm("testInvestorModeOptions"),
        Seq(
        "1" -> "Single Investor without holdings",
        "2" -> "Single Investor with 5 holdings",
        "3" -> "5 Investors with 4 holdings each",
        "4" -> "5 Investors with 4 holdings each. Last Holding incomplete",
        "5" -> "5 Investors with 4 holdings each. Last Investor incomplete (0 holdings)",
        "6" -> "20 complete Investors with 5 holdings each",
        "7" -> "20 complete Investors with 0 holdings each"),
        '_legend -> "Select the investor population option desired",
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legendID -> "investorPopulationOptions",
        '_groupClass -> "block"
        )
    </div>

    <h2>Number of Shares</h2>
    <div class="form-group">
        @input(
        numberOfSharesForm("numberOfShares"),
        '_divClass -> "form-label",
        '_labelId -> "label-numberOfShares",
        '_label -> Messages("page.shareDetails.numberOfShares.heading"),
        '_labelTextClass -> "visuallyhidden",
        '_inputClass -> "input--fullwidth"
        )
    </div>

    <h2>Nominal Value of Shares</h2>
    <div class="form-group">
        <p>@Messages("page.nominalValueOfShares.hint")</p>
        @inputWithCurrencySymbol(
        nominalValueOfSharesForm("nominalValueOfShares"),
        '_divClass -> "form-label",
        '_label -> Messages("page.nominalValueOfShares.title"),
        '_labelTextClass -> "visuallyhidden",
        '_inputClass -> "input--normal input--no-spinner input--left-padding",
        '_type -> "text",
        '_maxlength -> "9"
        )
    </div>

    <h2>Total Amount Raised</h2>
    <div class="form-group">
        @inputWithCurrencySymbol(
        totalAmountRaisedForm("amount"),
        '_divClass -> "form-label",
        '_labelId -> "label-amount",
        '_label -> Messages("page.shareDetails.totalAmountRaised.heading"),
        '_labelTextClass -> "visuallyhidden",
        '_inputClass -> "input--normal input--no-spinner input--left-padding",
        '_type -> "text",
        '_maxlength -> "9",
        'id -> "amount"
        )
    </div>

    <h2>Total Amount Spent</h2>
    <div class="form-group">
        @inputWithCurrencySymbol(
        totalAmountSpentForm("totalAmountSpent"),
        '_divClass -> "form-label",
        '_labelId -> "label-totalAmountSpent",
        '_label -> Messages("page.shareDetails.totalAmountSpent.heading=Total amount spent"),
        '_labelTextClass -> "visuallyhidden",
        '_inputClass -> "input--normal input--no-spinner input--left-padding",
        '_type -> "text",
        '_maxlength -> "9"
        )
    </div>

    <h2>Was Any Value Received</h2>
    <div class="form-group">
        @formHiddenYesNoRadioNoError(
             wasAnyValueReceivedForm,
            "wasAnyValueReceived",
            Messages("page.investors.wasAnyValueReceived.title"),
            textArea(
                wasAnyValueReceivedForm("anyValueDescription"),
                '_cols -> "45",
                '_rows -> "5",
                '_maxLength-> Constants.shortTextLimit,
                '_label-> Messages("page.investors.wasAnyValueReceived.title"),
                '_labelTextClass-> "visuallyhidden"
            ),
            None,
            Some("visuallyhidden")
        )
     </div>

    <h2>Share Capital Changes?</h2>
    <div class="form-group">
        @formHiddenYesNoRadioNoError(
        shareCapitalChangesForm,
        "hasChanges",
        Messages("page.investors.wasAnyValueReceived.title"),
        textArea(
        shareCapitalChangesForm("changesDescription"),
        '_cols -> "45",
        '_rows -> "5",
        '_maxLength-> Constants.shortTextLimit,
        '_label-> Messages("page.investors.wasAnyValueReceived.title"),
        '_labelTextClass-> "visuallyhidden"
        ),
        None,
        Some("visuallyhidden")
        )
    </div>

    <div class="form-group">
        <button class="btn button" type="submit" id="next">
            @Messages("page.test.submit-form.button")
        </button>

        <a class="btn button" id="clear-cache" href="@testOnly.controllers.routes.ClearCacheController.clearCache()">
            @Messages("page.test.clear-cache.button")
        </a>
    </div>

    }

</div>

}
