@import models.CompanyDetailsModel
@import common.Constants
@import utils.CountriesHelper
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.{errorSummary, textWithConstErrors, backButtonWithProgress, hiddenField, input, dropdown}


@(companyDetailsForm: Form[CompanyDetailsModel], listOfIsoCode:List[(String, String)])(implicit request: Request[_], messages: Messages)


@main_template(Messages("page.investment.companyDetails.title")) {

@backButtonWithProgress("", Messages("common.section.progress.company.details.four"))

<div class="grid-row">
    <div class="column-two-thirds">

        @errorSummary(companyDetailsForm, "company-details", "companyDetails")

        <h1 id="main-heading" class="form-title heading-xlarge">@Messages("page.investment.companyDetails.heading")</h1>

        @form(action = controllers.seis.routes.CompanyDetailsController.submit()) {
        <div class="form-group">
            @input(
            companyDetailsForm("name"),
            '_divClass -> "form-label",
            '_labelId -> "label-name",
            '_label -> Messages("page.investment.companyDetails.companyname.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "name"
            )
        </div>
        <div class="form-group">
            @input(
            companyDetailsForm("addressline1"),
            '_divClass -> "form-label",
            '_labelId -> "label-addressline1",
            '_label -> Messages("page.investment.companyDetails.addressline1.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "addressline1"
            )
        </div>
        <div class="form-group">
            @input(
            companyDetailsForm("addressline2"),
            '_divClass -> "form-label",
            '_labelId -> "label-addressline2",
            '_label -> Messages("page.investment.companyDetails.addressline2.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "addressline2"
            )
        </div>
        <div class="form-group">
            @input(
            companyDetailsForm("addressline3"),
            '_divClass -> "form-label",
            '_labelId -> "label-addressline3",
            '_label -> Messages("page.investment.companyDetails.addressline3.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "addressline3"
            )
        </div>
        <div class="form-group">
            @input(
            companyDetailsForm("addressline4"),
            '_divClass -> "form-label",
            '_labelId -> "label-addressline4",
            '_label -> Messages("page.investment.companyDetails.addressline4.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "addressline4"
            )
        </div>
        <div class="form-group">
            @input(
            companyDetailsForm("postcode"),
            '_divClass -> "form-label",
            '_labelId -> "label-postcode",
            '_label -> Messages("page.investment.companyDetails.postcode.label"),
            '_maxlength -> "10",
            '_inputClass -> "input--small input--cleared",
            'id -> "postcode"
            )
        </div>

        <div class="form-group">
            @dropdown(companyDetailsForm("countryCode"),
            elementOptions = listOfIsoCode,
            displayEmptyValue = true,
            '_emptyValueText -> Messages("page.address.country.select"),
            '_labelId -> "label-country",
            '_id -> "countryCode",
            '_inputClass -> "input--medium input--cleared",
            '_label -> Html(Messages("page.investment.companyDetails.country.label")))
        </div>

        <div class="form-group" id="companyDetailsButtonDiv">
            <button class="btn button" id="next" type="submit">@Messages("common.button.snc")</button>
        </div>
        }

    </div>
</div>
}