@import models.GrossAssetsAfterIssueModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.{errorSummary, inputWithCurrencySymbol, backButtonWithProgress}

@(grossAssetsAfterIssueForm: Form[GrossAssetsAfterIssueModel])(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.grossAssetsAfterIssue.amount.title")) {

@backButtonWithProgress(controllers.eis.routes.GrossAssetsController.show().url, Messages("common.section.progress.details.one"))

<div class="grid-row">
    <div class="column-two-thirds">

        @errorSummary(grossAssetsAfterIssueForm, "gross-assets-after-issue", "amount")

        <h1 id="main-heading" class="form-title heading-xlarge">@Messages("page.grossAssetsAfterIssue.amount.heading")</h1>

        @form(action = controllers.eis.routes.GrossAssetsAfterIssueController.submit()) {
        <div class="form-group">
            @inputWithCurrencySymbol(
            grossAssetsAfterIssueForm("grossAmount"),
            '_divClass -> "form-label",
            '_labelId -> "label-amount",
            '_label -> Messages("page.grossAssetsAfterIssue.amount.heading"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--no-spinner input--left-padding",
            '_type -> "text",
            '_maxlength -> "9",
            'id -> "amount"
            )
        </div>

        <div class="form-group">
            <button class="btn button" type="submit" id="next">@Messages("common.button.snc")</button>
        </div>
        }
    </div>
</div>
}
