@import uk.gov.hmrc.play.views.html.helpers.{form}
@import helpers.{externalLink, backButton}

@()(implicit request: Request[_], messages: Messages)

@import config.FrontendAppConfig

@main_template(title = Messages("page.companyDetails.ShareIssueDateError.title"), bodyClasses = None) {


@backButton(controllers.eis.routes.ShareIssueDateController.show().toString)

<div class="grid-row">
    <div class="column-two-thirds">
        <div id="main">
            <h1 class="form-title heading-xlarge" id="main-heading" >@Messages("page.companyDetails.ShareIssueDateError.heading")</h1>
        </div>

        <div class="form-group">
            <p id="invalid-share-issue-date-reason">@Messages("page.companyDetails.HasInvestmentTradeStartedError.description")</p>
        </div>

        <div class="form-group">
            <p id="incorrect-info">@Messages("page.companyDetails.HasInvestmentTradeStartedError.incorrect.info.start")
                <a href="@controllers.eis.routes.ShareIssueDateController.show().url" class="link-style" id="change-answers">
                @Messages("common.changeAnswers.link")</a>
                @Messages("page.companyDetails.HasInvestmentTradeStartedError.incorrect.info.end")</p>
        </div>

        <div class="form-group">
            <!--todo Will need to route to Dashboard Submission FE hub page when it becomes central hub for AA and CS -->
            <a href="@controllers.routes.ApplicationHubController.show().url" class="link-style" id="return-dashboard">
                @Messages("common.returnToDashboard")
            </a>
        </div>

    </div>
</div>
}