@(rowId: String, question: String, answer: String, link: Option[String] = None, complete: Boolean = true)(implicit messages: Messages)
<tr>
    <td id="@{rowId}-question" class="summaryQuestion">@question</td>
    <td id="@{rowId}-answer" class="summaryAnswer">@answer</td>
    <td id="@{rowId}-change" class="summaryLink align-top text--right">@if(link.isDefined) {
        <a id="@{rowId}-link" href="@link">
            @Messages(
                if(complete) "common.base.change"
                else "common.button.continue"
            )
        </a>
        }</td>
</tr>

