@(rowId: String, question: String, answerLines: Array[String], link: Option[String] = None, addExtraLineBreaks: Option[Boolean] = None, complete: Boolean = true)(implicit messages: Messages)

<tr>
    <td id="@{rowId}-question" class="summaryQuestion">@question</td>
    <td id="@{rowId}-answer" class="summaryMultiLine">

        @for((line, index) <- answerLines.zipWithIndex) {
            <span id="@{rowId}-Line@{index}">@line</span>

            @if(addExtraLineBreaks.isDefined) {
                <br><br>
            }

            @if(!addExtraLineBreaks.isDefined) {
                <br>
            }
       }

    </td>
    <td id="@{rowId}-change" class="summaryLink align-top text--right">@if(link.isDefined) {
        <a id="@{rowId}-link" href=@link>
            @Messages(
            if(complete) "common.base.change"
            else "common.button.continue"
            )
        </a>
        }</td>
</tr>