@import uk.gov.hmrc.play.views.html.helpers.{form}
@import helpers.backButton

@()(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("page.companyDetails.grossAssetsError.title"), bodyClasses = None) {

@backButton(controllers.seis.routes.GrossAssetsController.show().url)

<div class="grid-row">
    <div class="column-two-thirds">
        <div id="main">
            <h1 class="form-title heading-xlarge" id="main-heading">
                @Messages("page.companyDetails.grossAssetsError.title")</h1>
        </div>

        <div class="form-group">
            <p id="error-description">
                @Messages("page.companyDetails.grossAssetsError.description.seis")</p>
        </div>

        <div class="form-group">
            <p id="incorrect-info">@Messages("page.companyDetails.grossAssetsError.incorrect.info")
                <a href="@controllers.seis.routes.GrossAssetsController.show().url" class="link-style"
                   id="change-answers">
                    @Messages("page.companyDetails.grossAssetsError.link.changeAnswers")</a>.</p>
        </div>

        <div class="form-group">
            <span id="what-next-heading" class="heading-medium">
                @Messages("page.companyDetails.grossAssetsError.whatNext.heading")
            </span>
            <p id="continue-text">
                @Messages("page.companyDetails.grossAssetsError.whatNext.continue")
            </p>

        </div>

        <div class="form-group">
            @form(action = controllers.seis.routes.GrossAssetsErrorController.submit()) {
            <button class="btn button" id="next" type="submit">@Messages("common.button.continue")</button>
            }
        </div>

    </div>
</div>
}
