@import uk.gov.hmrc.play.views.html.helpers.form
@import models.ShareDescriptionModel
@import common.Constants
@import views.html.helpers.{backButtonWithProgress, errorSummary, input}

@(ShareDescriptionForm: Form[ShareDescriptionModel])(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.shares.shareDescription.title")) {

@backButtonWithProgress(controllers.routes.ApplicationHubController.show().url, Messages("common.section.progress.company.details.three"))

    @errorSummary(ShareDescriptionForm, "share-description", "shareDescription")

    <h1 id="main-heading" class="form-title heading-xlarge">@Messages("page.shares.shareDescription.heading")</h1>

    <div>
        <p id="description-two" class="lede">@Messages("page.shares.shareDescription.example.text")</p>
        <ul class="list list-bullet">
            <li id="bullet-one">@Messages("page.shares.shareDescription.bullet.one")</li>
            <li id="bullet-two">@Messages("page.shares.shareDescription.bullet.two")</li>
            <li id="bullet-three">@Messages("page.shares.shareDescription.bullet.three")</li>
        </ul>
    </div>

    @form(action = controllers.seis.routes.ShareDescriptionController.submit()) {

    <fieldset>
        <legend class="visuallyhidden">@Messages("page.shares.shareDescription.heading")</legend>
        <div class="form-group">
            @input(
            ShareDescriptionForm("shareDescription"),
            '_divClass -> "form-label",
            '_labelId -> "label-shareDescription",
            '_hintId -> "label-shareDescription-hint",
            '_label -> Messages("page.shares.shareDescription.heading"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--fullwidth",
            '_maxlength-> Constants.SuggestedShareDescriptionLength,
            '_inputHint -> Messages("page.shares.shareDescription.question.hint")
            )

        </div>
    </fieldset>
    <div class="form-group">
        <button class="btn button" type="submit" id="next">@Messages("common.button.snc")</button>
    </div>
    }
}
