@import uk.gov.hmrc.play.views.html.helpers.{form}
@import helpers.{externalLink, backButton}

@(schemeId : Int)(implicit request: Request[_], messages: Messages)

@import config.FrontendAppConfig

@main_template(title = Messages("page.previousInvestment.InvalidPreviousScheme.title"), bodyClasses = None) {

@backButton(controllers.seis.routes.ReviewPreviousSchemesController.show().url)

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="form-title heading-xlarge" id="main-heading" >@Messages("page.previousInvestment.InvalidPreviousScheme.heading")</h1>

        <div class="form-group">
            <p id="invalid-scheme-reason">@Messages("page.previousInvestment.InvalidPreviousScheme.reason")</p>
        </div>

        <h2 class="heading-medium">@Messages("page.previousInvestment.InvalidPreviousScheme.secondaryHeading")</h2>

        <div class="form-group">
            <p>@Messages("page.previousInvestment.InvalidPreviousScheme.whatNext")</p>
        </div>

        @form(action = controllers.seis.routes.InvalidPreviousSchemeController.submit()) {
        <div class="form-group">
            <button class="btn button" type="submit" id="submit">@Messages("common.button.continue")</button>
        </div>
        }

        <div class="form-group">
            <p>
                @Messages("page.previousInvestment.InvalidPreviousScheme.change-text")
                <a id="change-answers-link" class="link"
                  href="@controllers.seis.routes.ReviewPreviousSchemesController.change(schemeId).url">@Messages("page.previousInvestment.InvalidPreviousScheme.change-link")</a>.
            </p>
        </div>
    </div>
</div>
}

