@import uk.gov.hmrc.play.views.html.helpers.{form}
@import helpers.{externalLink, backButton}

@()(implicit request: Request[_], messages: Messages)

@import config.FrontendAppConfig

@main_template(title = Messages("page.investment.TradingForTooLong.title"), bodyClasses = None) {

@backButton(controllers.eis.routes.NewProductController.show().toString)

<div class="grid-row">
    <div class="column-two-thirds">
        <div id="main">
            <h1 class="form-title heading-xlarge" id="main-heading" >@Messages("common.error.soft.heading")</h1>
        </div>

        <div class="form-group">
            <p id="trading-too-long-reason">@Messages("page.investment.TradingForTooLong.reason")</p>
        </div>

        <ul class="list list-bullet">
            <li id="trading-too-long">@Messages("page.investment.TradingForTooLong.bullet.one")</li>
            <li id="not-new-business">@Messages("page.investment.TradingForTooLong.bullet.two")</li>
        </ul>

        <div class="form-group">
            <p>
                @Messages("common.changeAnswers.incorrect.text")
                <a id="change-answers-link" class="link"
                   href="@controllers.eis.routes.NewProductController.show().url">@Messages("common.changeAnswers.link")</a>.
            </p>
        </div>

        <h2 class="heading-medium">@Messages("common.error.soft.secondaryHeading")</h2>

        <div class="form-group">
            <p>@Messages("common.error.soft.whatNext.compliance")</p>
        </div>

        <div class="form-group">
            @form(action = controllers.eis.routes.TradingForTooLongController.submit()) {
            <button class="btn button" id="next" type="submit">@Messages("common.button.continue")</button>
            }
        </div>

    </div>
</div>
}
